<header>
    <nav class="menu">
          
      
    <ul>

    <li>ARRANGEMENT</li>

    <li>CAFÉ KAREN</li>

    <li>UDLEJNING</li>

    <li>OM HUSET</li>

    </ul>
      </nav>
</header>
    <style>
        .menu ul{
            display: flex;
            align-items: center;
            background-color:#AC7470;
            list-style: none;
            gap: 100px;
            padding: 80px;  
            font-size: 25px;
        }

        li {
            padding-left: 70px;
            color: #FDF3EC;
        }
      
    </style>