---

---

 <section class="hero">

<video autoplay loop muted playsinline src="../public/vid/hero_15_karen.mp4"> </video>


<div class="hero_video">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/an_d3nGgnnQ?si=fDHDi56JZbsOdMpd" title="Karen hero video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

   
      <h1>Velkommen til cafe Karen</h1>
    <article class="hero_tekst">
        <p>Vores café er hjertet i huset og rummer alt fra børnefamilier, studerende, gamle aktivister til stamkunder og mange mange andre – vi er åbne for alle. Vi har en stor kærlighed til håndværket, hvilket vil sige at alt laves fra bunden, med gode råvarer som sikrer en høj kvalitet. Inspiration til vores udvalg hentes både fra det globale køkken og gamle danske klassikere. Ingredienserne består så vidt muligt af gode økologiske råvarer – omtrent 80 procent af ingredienserne er økologiske – og der lægges vægt på gode smagsoplevelser og smukke anretninger.</p>
        <p>Vi foretrækker at have et mindre udvalg, som varierer fra uge til uge.</p>
        <p>glæder os til at byde jer velkommen.</p>
    </article>
</section>


    <style>
.hero_video {
  aspect-ratio: 16/9;
  overflow: hidden;
  border: 2px solid #f3e2d6;
  background: #c9c9c9;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.hero_video iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.hero_tekst {
  max-width: 800px;
  text-align: center;
  padding-top: 20px;
}

</style>