---
const { text, href } = Astro.props;
---

<a href={href} class="knap"> {text} </a>

<style>
  .knap {
    display: inline-block;
    background-color: #ac7470;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.2rem;
  }

  .knap:hover {
    background-color: #69434f;
  }
</style>
