---
const { text, href } = Astro.props;
---

<a href={href} class="knap"> {text} </a>

<style>
  .knap {
    display: inline-block;
    background-color: #fdf3ec;
    color: #69434f;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.2rem;
  }

  .knap:hover {
    background-color: #e6ccbc;
  }
</style>
